.home {
    background: url('../assets/images/home-background3.jpg') no-repeat;
    min-height:100vh;
    background-size: cover;
}
.timeline {
    min-height:100vh;
}
.timeline-header {
    text-align: center
}