<!-- <div [style.background]="assets/images/Cognizant-logo">
</div> -->
<div class="divCenter">
<ngb-carousel *ngIf="images" [showNavigationArrows]="false" [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide>
    <h1>FULL STACK DEVELOPER</h1>
    <h3>Oracle Certified Java Developer</h3>
  </ng-template>
  <ng-template ngbSlide>
    <h1>OVERSEAS WELL-VERSED</h1>
    <h3>Served in Paris, Munich and Slovakia</h3>
  </ng-template>
  <ng-template ngbSlide>
    <h1>DOMAIN EXPERT</h1>
    <h3>Experience with Healthcare, Banking and Reinsurance</h3>
  </ng-template>
</ngb-carousel>
</div>